{% extends "base.html" %}

{% block title %}
<a class="blog-title" href="/login">
  <h1 class="text-uppercase text-center">
    The Blog - Error Page
  </h1>
</a>
{% endblock %}

{% block action_area %}
  {% if user %}
  <a href="/logout">Logout</a>
  {% else %}
  <a href="/login">Login</a>
  {% endif %}
{% endblock %}

<!--
  Render the main area of the error page. Mainly appears when user tries to do forbidden actions (do like action in own posts, attempt to edit other people's posts)
  or visit some page that is not handled by the system.
-->
{% block content %}
<div class="col-md-12">
  <div class="alert alert-danger">
    <strong>Error!</strong> {{error}}.
  </div>
</div>
{% endblock %}