{% extends "base.html" %}

{% block title %}
<a class="blog-title" href="/login">
  <h1 class="text-uppercase text-center">
    The Blog - Login Page
  </h1>
</a>
{% endblock %}

{% block action_area %}
<a href="/blog">Go to THE BLOG</a>
{% endblock %}

<!-- Render the main area of the login up page. Only unauthenticated users will access this page. -->
{% block content %}
<div class="col-md-12 text-center">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h1>Log In</h1>
      
      <br>

      <h3>OR</h3>

      <br>

      <hr>
      <a href="/signup"><h3>Create a new Account</h3></a>
      <hr>
      
      <!-- Form to submit login's information (username and password). -->
      <form class="text-left" method="POST">
        <br>

        <div clas="form-group">
          <label for="username">Username</label>
          <input class="form-control" name="username" id="username" type="text" value="{{username}}" placeholder="Username">
          <span style="color: red;">{{invalid_username}}</span>
        </div>

        <br>

        <div clas="form-group">
          <label for="password">Password</label>
          <input class="form-control" id="password" name="password" type="password" placeholder="Password">
          <span style="color: red;">{{invalid_password}}</span>
        </div>

        <br>
      
        <div class="form-group text-center">
          <button class="btn btn-submit">Log In</button>
        </div>
      </form>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
{% endblock %}
