{% extends "base.html" %}

{% block title %}
<a class="blog-title" href="/blog">
  <h1 class="text-uppercase text-center">
    The Blog - Post Details
  </h1>
</a>
{% endblock %}

{% block name_area %}
<h3 class="text-center navbar-text">
  {% if user %}
    Viewing as {{user.username}}
  {% else %}
    Viewing as unknown
  {% endif %}
</h3>
{% endblock %}

{% block action_area %}
  {% if user %}
  <a href="/logout">Logout</a>
  {% else %}
  <a href="/login">Login</a>
  {% endif %}
{% endblock %}

<!--
  Render the main area of the show single post page. Both unauthenticated/authenticated users will see this page', but some options will be available
  for authenticated users only.
-->
{% block content %}
<div class="col-md-12">
  <article>
    <header class="content-separator">
      <div class="row is-flex">
        <div class="col-md-6 text-left">
          <h2>
            {{post.subject}}
          </h2>
        </div>
        <!-- Check if the user is the owner of the post, to change the size of the edit post's buttons if yes. -->
        {% if user and post.user.key().id() == user.key().id() %}
        <div class="col-md-4 text-right post-right-content">
        {% else %}
        <div class="col-md-6 text-right post-right-content">
        {% endif %}
          <h5>
            {{post.created.strftime('%B %d, %Y - %I:%M %p')}}
          </h5>
        </div>

        <!-- Check if the user is the owner of the post, to display the edit post's buttons. -->
        {% if user and post.user.key().id() == user.key().id() %}
        <div class="col-md-2 text-right edit-post-buttons">
          <div class="row is-flex">
            <div class="col-md-6 text-right">
              <form action="/blog/post/edit/{{post.key().id()}}" method="GET">
                <button class="btn btn-primary fa fa-pencil" type="submit">
                  Edit
                </button>
              </form>
            </div>
            <div class="col-md-6 text-left">
              <form method="POST" action="/blog/post/delete/{{post.key().id()}}">
                <button class="btn btn-danger fa fa-trash-o" type="submit" >
                  Delete
                </a>
              </form>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </header>
    <section class="section">
      <pre>{{post.content}}</pre>
    </section>
    <section class="section text-right">
      <form action="/blog/post/like/{{post.key().id()}}" method="POST">
        <!--
          Check if user is the owner of the post, to display the correct like button icon and message.
          If user is the owner of the post, they cannot like posts.
          If user is unauthenticated, they cannot like posts.
          If user is authenticated, not owner and liked the post before, show the thumbs-down to dislike the post.
          If user is authenticated, not owner and didn't like the post before, show the thumbs-up to like the post.
        -->
        {% if not user or (post and user and post.user.key().id() == user.key().id()) %}
        <button type="submit" class="btn btn-like fa fa-thumbs-up" disabled> Like</button>
        {% elif user and not (like and like.do_like) %}
        <button type="submit" class="btn btn-like fa fa-thumbs-up"> Like</button>
        {% else %}
        <button type="submit" class="btn btn-like fa fa-thumbs-down"> Dislike</button>
        {% endif %}
        <p class="likes-info">
        <!-- Small pluralize check to display the correct message for the count of likes. -->
        {% if count_likes == 1 %}
        {{ count_likes }} person liked it.
        {% elif count_likes == 0 %}
        No one liked it, yet.
        {% else %}
        {{ count_likes }} people liked it.
        {% endif %}
        </p>
      </form>
    </section>
  </article>

  <div class="row">
    <div class="col-md-12">
      <header class="content-separator">
        <h2>
          Comments
        </h2>
      </header>
    </div>
  </div>

  <!--
    Comments area. Fixed height and scrollable area, so users can see the comments area and the comment area as well.
    The comments are listed desc sorted, as we want to show the newest comments first.
  -->
  {% if comments %}
    <div class="row comments-area">
      {% for comment in comments %}
      <article class="col-md-12">
        <section class="section">
          <div class="row">
            <div class="col-md-8 text-left">
              <h5>
                From: {{comment.user.username}}
              </h5>
            </div>

            {% if user and comment.user.key().id() == user.key().id() %}
            <div class="col-md-2 text-right post-right-content">
            {% else %}
            <div class="col-md-4 text-right post-right-content">
            {% endif %}
              <h5>
                {{comment.created.strftime('%B %d, %Y - %I:%M %p')}}
              </h5>
            </div>

            <!-- Check if the user is the owner of the comment, to display the edit comments's buttons. -->
            {% if user and comment.user.key().id() == user.key().id() %}
            <div class="col-md-2">
              <div class="row">
                <div class="col-md-6 text-right">
                  <form action="/blog/comment/edit/{{comment.key().id()}}" method="GET">
                    <button class="btn btn-primary fa fa-pencil" type="submit">
                      Edit
                    </button>
                  </form>
                </div>

                <div class="col-md-6 text-left">
                  <form method="POST" action="/blog/comment/delete/{{comment.key().id()}}">
                    <button class="btn btn-danger fa fa-trash-o" type="submit" >
                      Delete
                    </a>
                  </form>
                </div>

              </div>
            </div>
            {% endif %}
          </div>
          <div class="row">
            <div class="col-md-12">
              <pre class="single-comment-area">{{comment.comment}}</pre>
            </div>
          </div>
        </section>
      </article>
    {% endfor %}
    </div>
  <!-- If no comments were found, display a message for better UX experience. -->
  {% else %}
  <div class="row">
    <div class="col-md-12">
      <h3>
        No comments for this post, yet.
      </h3>
    </div>
  </div>
  {% endif %}

  <!-- Check if user is authenticated and display the new comment area. -->
  {% if user %}
  <div class="row">
    <div class="col-md-12">
      <header class="content-separator">
        <h2>
          New Comment
        </h2>
      </header>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <section class="section">
        <div class="row">
          <div class="col-md-12 text-left">
            {% if comment_error %}
            <div class="alert alert-danger">
              <strong>Error!</strong> You have to fill the comment area before submit.
            </div>
            {% endif %}
            <h5>
              <strong>From</strong>: {{user.username}}
            </h5>
          </div>
        </div>
        <form method="POST">
          <div class="form-group">
            <label for="comment"><strong>Comment</strong>:</label>
            <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-submit">Submit</button>
        </form>
      </section>
    </div>
  </div>
  {% else %}
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-warning">
        <strong>Warning!</strong> Unkown users cannot include comments.
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
