{% extends "base.html" %}

{% block title %}
<a class="blog-title" href="/signup">
  <h1 class="text-uppercase text-center">
    The Blog - Sign Up
  </h1>
</a>
{% endblock %}

{% block action_area %}
<a href="/blog/posts">Go to THE BLOG</a>
{% endblock %}

<!-- Render the main area of the sign up page. Only unauthenticated users will access this page. -->
{% block content %}
<div class="col-md-12 text-center">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h1>Sign Up</h1>

      <br>

      <h3>OR</h3>

      <br>

      <hr>
      <a href="/login"><h3>Sign In with an Account</h3></a>
      <hr>

      <form class="text-left" method="POST">
        <br>

        <div class="form-group">
          <label for="username">Username</label>
          <input class="form-control" id="username" name="username" type="text" value="{{username}}">
          <span style="color: red;">{{invalid_username}}</span>
        </div>

        <br>

        <div class="form-group">
          <label for="password">Password</label>
          <input class="form-control" name="password" id="password" type="password">
          <span style="color: red;">{{invalid_password}}</span>
        </div>

        <br>

        <div class="form-group">
          <label for="verify">Confirm Password</label>
          <input class="form-control" id="verify" name="verify" type="password">
          <span style="color: red;">{{not_match}}</span>
        </div>

        <br>

        <div class="form-group">
          <label for="email">Email (Optional)</label>
          <input class="form-control" id="email" name="email" type="text" value="{{email}}">
          <span style="color: red;">{{invalid_email}}</span>
        </div>

        <br>

        <div class="form-group text-center">
          <button class="btn btn-submit">Sign Up</button>
        </div>
      </form>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
{% endblock %}
