<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <meta charset="utf-8">
    <title>The Blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/main.css">
  </head>

  <body>
    <div class="row">
      <nav>
        <div class="col-md-12 navbar">
          <div class="row is-flex">
            <div class="col-md-2">
              {% block name_area %}
              {% endblock %}
            </div>
            <div class="col-md-8">
              {% block title %}
              {% endblock %}
            </div>
            <div class="col-md-2 action-area-text">
              {% block action_area %}
              {% endblock %}
            </div>
          </div>
        </div>
      </nav>
      <main class="row">
        {% block content %}
        {% endblock %}
      </main>
    </div>
  </body>
</html>
