{% extends "base.html" %}

{% block title %}
<a class="blog-title" href="/blog">
  <h1 class="text-uppercase text-center">
    The Blog - Main Posts
  </h1>
</a>
{% endblock %}

{% block name_area %}
  <h3 class="text-center navbar-text">
    {% if user %}
      Viewing as {{user.username}}
    {% else %}
      Viewing as unknown
    {% endif %}
  </h3>
{% endblock %}

{% block action_area %}
  {% if user %}
  <a href="/logout">Logout</a>
  {% else %}
  <a href="/login">Login</a>
  {% endif %}
{% endblock %}

{% block content %}
<div class="col-md-12">
  {% if user %}
  <form class="text-right" action="/blog/post/new" method="GET">
    <button type="submit" class="btn btn-submit text-right">
      Add a new Post
    </button>
  </form>
  {% endif %}
  {% if not posts %}
  <h2 class="text-center">No posts were found in database.</h2>
  {% endif %}

  {% for post in posts %}

    <a class="no-decoration" href="/blog/post/{{post.key().id()}}">
      <article>
        <header class="content-separator">
          <div class="row is-flex">
            <div class="col-md-6 text-left">
              <h2>
                {{post.subject}}
              </h2>
            </div>
            <div class="col-md-6 text-right end-aligned">
              <h5>
                {{post.created.strftime('%B %d, %Y - %I:%M %p')}}
              </h5>
            </div>
          </div>
        </header>
        <section class="section">
          <pre>{{post.content}}</pre>
        </section>
      </article>
    </a>
  {% endfor %}
</div>
{% endblock %}
