<!DOCTYPE html>
<html>
  <header>
    <title>Sign Up Example with Validation</title>
  </header>

  <body>
    <h1>Sign Up</h1>
    <form method="post">
      <label>
        Username
        <input name="username" type="text" value="{{username}}">
        <span style="color: red;">{{invalid_username}}</span>
      </label>
      <br>
      <label>
        Password
        <input name="password" type="password">
        <span style="color: red;">{{invalid_password}}</span>
      </label>
      <br>
      <label>
        Verify Password
        <input name="verify" type="password">
        <span style="color: red;">{{not_match}}</span>
      </label>
      <br>
      <label>
        Email(optional)
        <input name="email" type="text" value="{{email}}">
        <span style="color: red;">{{invalid_email}}</span>
      </label>
      <br>
      <input type="submit">
    </form>
  </body>
</html>
