{% extends "base.html" %}

{% block title %}
The Blog - Edit Comment
{% endblock %}

{% block name_area %}
  <h3 class="text-center navbar-text">
    {% if user %}
      Viewing as {{user.username}}
    {% else %}
      Viewing as unknown
    {% endif %}
  </h3>
{% endblock %}

{% block logged_area %}
  {% if user %}
  <a href="/logout">Logout</a>
  {% else %}
  <a href="/login">Login</a>
  {% endif %}
{% endblock %}
{% block content %}

<div class="row">
  <div class="col-md-12">
    <header class="content-separator">
      <h2>
        Edit Comment
      </h2>
    </header>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <section class="section">
      <div class="row">
        <div class="col-md-12 text-left">
          {% if comment_error %}
          <div class="alert alert-danger">
            <strong>Error!</strong> You have to fill the comment area before submit.
          </div>
          {% endif %}
          <h5>
            From: {{user.username}}
          </h5>
        </div>
      </div>
      <form method="POST">
        <div class="form-group">
          <label for="comment">Comment:</label>
          <textarea class="form-control" id="comment" name="comment" rows="3">{{comment.comment}}</textarea>
        </div>
        <button type="submit" class="btn btn-submit">Submit</button>
        <button type="submit" formmethod="GET" formaction="/blog/post/{{comment.post.key().id()}}" class="btn btn-warning">Cancel</button>
      </form>
    </section>
  </div>
</div>
{% endblock %}
